In [19]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("../data/matches.csv")
df["date"] = pd.to_datetime(df["date"], format="%Y-%m-%d %H:%M:%S")

match = df

match

,match_id,label,group,date,venue,dur,gameweek,round_id,home,away,...,loser,ref,ref2,ref3,ref4,home_score,away_score,home_team,away_team,day
0,2058017,"France - Croatia, 4 - 2",NaN,2018-07-15 15:00:00,Olimpiyskiy stadion Luzhniki,Regular,0,4165368,4418,9598,...,9598,378051,378038,378060,377215,4,2,France,Croatia,31
1,2058012,"Russia - Croatia, 2 - 2 (P)",NaN,2018-07-07 18:00:00,Olimpiyskiy Stadion Fisht,Penalties,0,4165365,14358,9598,...,14358,378204,378144,378145,407737,2,2,Russia,Croatia,23
2,2057977,"Iceland - Croatia, 1 - 2",Group D,2018-06-26 18:00:00,Rostov Arena,Regular,3,4165363,7839,9598,...,7839,384946,384962,384993,380889,1,2,Iceland,Croatia,12
3,2057974,"Argentina - Croatia, 0 - 3",Group D,2018-06-21 18:00:00,Stadion Nizhny Novgorod,Regular,2,4165363,12274,9598,...,12274,380597,380580,380616,456269,0,3,Argentina,Croatia,7
4,2058014,"France - Belgium, 1 - 0",NaN,2018-07-10 18:00:00,Stadion Krestovskyi,Regular,0,4165366,4418,5629,...,5629,378232,378231,378126,379973,1,0,France,Belgium,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,2057963,"Iran - Spain, 0 - 1",Group B,2018-06-20 18:00:00,Kazan' Arena,Regular,2,4165363,10840,1598,...,10840,378232,378231,378126,378151,0,1,Iran,Spain,6
57,2057960,"Portugal - Spain, 3 - 3",Group B,2018-06-15 18:00:00,Olimpiyskiy Stadion Fisht,Regular,1,4165363,9905,1598,...,0,377206,383492,384974,380103,3,3,Portugal,Spain,1
58,2057979,"Costa Rica - Serbia, 0 - 1",Group E,2018-06-17 12:00:00,Samara Arena,Regular,1,4165363,16871,17322,...,16871,407722,407732,407514,407813,0,1,Costa Rica,Serbia,2
59,2057961,"Morocco - Iran, 0 - 1",Group B,2018-06-15 15:00:00,Stadion Krestovskyi,Regular,1,4165363,16216,10840,...,16216,384995,384950,384938,384982,0,1,Morocco,Iran,1
60,2057955,"Egypt - Uruguay, 0 - 1",Group A,2018-06-15 12:00:00,Stadion Central'nyj,Regular,1,4165363,16129,15670,...,16129,377215,384909,384929,384932,0,1,Egypt,Uruguay,0

In [5]:
match.sort_values(by="date", ascending=True, inplace=True)
match.head()

,match_id,label,group,date,venue,dur,gameweek,round_id,home,away,...,loser,ref,ref2,ref3,ref4,home_score,away_score,home_team,away_team,day
26,2057954,"Russia - Saudi Arabia, 5 - 0",Group A,2018-06-14 15:00:00,Olimpiyskiy stadion Luzhniki,Regular,1,4165363,14358,16521,...,16521,378051,378060,378038,378204,5,0,Russia,Saudi Arabia,0
60,2057955,"Egypt - Uruguay, 0 - 1",Group A,2018-06-15 12:00:00,Stadion Central'nyj,Regular,1,4165363,16129,15670,...,16129,377215,384909,384929,384932,0,1,Egypt,Uruguay,0
59,2057961,"Morocco - Iran, 0 - 1",Group B,2018-06-15 15:00:00,Stadion Krestovskyi,Regular,1,4165363,16216,10840,...,16216,384995,384950,384938,384982,0,1,Morocco,Iran,1
57,2057960,"Portugal - Spain, 3 - 3",Group B,2018-06-15 18:00:00,Olimpiyskiy Stadion Fisht,Regular,1,4165363,9905,1598,...,0,377206,383492,384974,380103,3,3,Portugal,Spain,1
55,2057972,"Argentina - Iceland, 1 - 1",Group D,2018-06-16 13:00:00,Otkrytiye Arena,Regular,1,4165363,12274,7839,...,0,384987,384926,384981,378169,1,1,Argentina,Iceland,1

In [6]:
match10 = match.head(10)

In [7]:
match.sort_values("label", ascending=False, inplace=True)
match.head()

,match_id,label,group,date,venue,dur,gameweek,round_id,home,away,...,loser,ref,ref2,ref3,ref4,home_score,away_score,home_team,away_team,day
27,2057957,"Uruguay - Saudi Arabia, 1 - 0",Group A,2018-06-20 15:00:00,Rostov Arena,Regular,2,4165363,15670,16521,...,16521,384931,384955,381841,380889,1,0,Uruguay,Saudi Arabia,6
41,2057958,"Uruguay - Russia, 3 - 0",Group A,2018-06-25 14:00:00,Samara Arena,Regular,3,4165363,15670,14358,...,14358,407722,407732,407514,407813,3,0,Uruguay,Russia,10
39,2058002,"Uruguay - Portugal, 2 - 1",NaN,2018-06-30 18:00:00,Olimpiyskiy Stadion Fisht,Regular,0,4165364,15670,9905,...,9905,379973,384145,384148,381595,2,1,Uruguay,Portugal,16
37,2058010,"Uruguay - France, 0 - 2",NaN,2018-07-06 14:00:00,Stadion Nizhny Novgorod,Regular,0,4165365,15670,4418,...,15670,378051,378038,378060,380599,0,2,Uruguay,France,21
14,2057991,"Tunisia - England, 1 - 2",Group G,2018-06-18 18:00:00,Volgograd Arena,Regular,1,4165363,16276,2413,...,16276,378169,378217,378218,379140,1,2,Tunisia,England,4

In [8]:
match_simple = match[
    ["date", "home_team", "away_team", "home_score", "away_score"]
]

match_simple.head()

                  date home_team     away_team  home_score  away_score
27 2018-06-20 15:00:00   Uruguay  Saudi Arabia           1           0
41 2018-06-25 14:00:00   Uruguay        Russia           3           0
39 2018-06-30 18:00:00   Uruguay      Portugal           2           1
37 2018-07-06 14:00:00   Uruguay        France           0           2
14 2018-06-18 18:00:00   Tunisia       England           1           2

In [9]:
match_simple = match_simple[
    ["home_team", "away_team", "date", "home_score", "away_score"]
]

match_simple.head()

   home_team     away_team                date  home_score  away_score
27   Uruguay  Saudi Arabia 2018-06-20 15:00:00           1           0
41   Uruguay        Russia 2018-06-25 14:00:00           3           0
39   Uruguay      Portugal 2018-06-30 18:00:00           2           1
37   Uruguay        France 2018-07-06 14:00:00           0           2
14   Tunisia       England 2018-06-18 18:00:00           1           2

In [10]:
match_simple["match_id"] = match["match_id"]

match_simple.head()

,home_team,away_team,date,home_score,away_score,match_id
27,Uruguay,Saudi Arabia,2018-06-20 15:00:00,1,0,2057957
41,Uruguay,Russia,2018-06-25 14:00:00,3,0,2057958
39,Uruguay,Portugal,2018-06-30 18:00:00,2,1,2058002
37,Uruguay,France,2018-07-06 14:00:00,0,2,2058010
14,Tunisia,England,2018-06-18 18:00:00,1,2,2057991

In [11]:
pm = pd.read_csv("../data/player_match.csv")

pm.head()

,name,team,min,shot,goal,goal_allowed,assist,player_id,match_id,date,...,air_duel,air_duel_won,gk_leave_line,gk_save_attempt,throw,corner,pos,side,player_rank,started
0,D. Cheryshev,Russia,66.0,3,2,0,0,4513,2057954,20180614,...,2,2,0,0,0,0,MID,left,0.0405,False
1,Mário Fernandes,Russia,90.0,0,0,0,0,41123,2057954,20180614,...,10,7,0,0,16,0,DEF,right,-0.0001,True
2,I. Akinfeev,Russia,NaN,0,0,0,0,101576,2057954,20180614,...,0,0,0,0,0,0,GKP,NaN,NaN,True
3,S. Ignashevich,Russia,90.0,0,0,0,0,101583,2057954,20180614,...,10,9,0,0,0,0,DEF,left,0.0166,True
4,A. Dzagoev,Russia,24.0,0,0,0,0,101590,2057954,20180614,...,2,2,0,0,0,0,MID,central,0.0039,True

In [12]:
pm["ob_touches"] = pm["throw"] + pm["corner"]

pm["player_desc"] = pm["name"] + " is the " + pm["team"] + " " + pm["pos"]

pm["at_least_one_throwin"] = pm["throw"] > 0

pm["len_last_name"] = pm["name"].apply(lambda x: len(x.split(" ")[-1]))

pm["match_id"] = pm["match_id"].astype(str)

pm["air_duel_won_pct"] = pm["air_duel_won"] / pm["air_duel"]

pm["air_duel_won_pct"] = pm["air_duel_won_pct"].fillna(-99)

pm.drop("air_duel_won_pct", axis=1, inplace=True)

pm.head()

,name,team,min,shot,goal,goal_allowed,assist,player_id,match_id,date,...,throw,corner,pos,side,player_rank,started,ob_touches,player_desc,at_least_one_throwin,len_last_name
0,D. Cheryshev,Russia,66.0,3,2,0,0,4513,2057954,20180614,...,0,0,MID,left,0.0405,False,0,D. Cheryshev is the Russia MID,False,9
1,Mário Fernandes,Russia,90.0,0,0,0,0,41123,2057954,20180614,...,16,0,DEF,right,-0.0001,True,16,Mário Fernandes is the Russia DEF,True,9
2,I. Akinfeev,Russia,NaN,0,0,0,0,101576,2057954,20180614,...,0,0,GKP,NaN,NaN,True,0,I. Akinfeev is the Russia GKP,False,8
3,S. Ignashevich,Russia,90.0,0,0,0,0,101583,2057954,20180614,...,0,0,DEF,left,0.0166,True,0,S. Ignashevich is the Russia DEF,False,11
4,A. Dzagoev,Russia,24.0,0,0,0,0,101590,2057954,20180614,...,0,0,MID,central,0.0039,True,0,A. Dzagoev is the Russia MID,False,7

In [13]:
pd.crosstab(pm["team"], pm["pos"], normalize=False)

pos             DEF  FWD  GKP  MID
team
Argentina        16   16    4   17
Belgium          28   26    7   33
Brazil           22   19    5   24
Colombia         17   10    4   25
Costa Rica       17    6    3   16
Croatia          35   22    7   36
Denmark          15   11    3   12
Egypt            12    5    3   22
England          39   23    7   30
France           25   22    6   30
Germany          12   12    3   15
Iceland          15   10    3   14
Iran             15   15    3    9
Japan            17   10    4   24
Korea Republic   13    9    3   17
Mexico           15   17    0   14
Morocco           8    8    3   21
Nigeria          13   14    3   12
Panama           14    9    3   14
Peru              7    6    2   11
Poland           14    6    3   11
Portugal         16   14    4   22
Russia           21   10    5   36
Saudi Arabia     12    7    3   19
Senegal          13   12    3   14
Serbia           13    7    3   17
Spain            17   12    4   24
Sweden           24   16    5   25
Switzerland      18   11    4   21
Tunisia          12    6    3   17
Uruguay          17   13    5   35

In [14]:
# 3.2.1
pgm = pd.read_csv("../data/player_match.csv")

# 3.2.2
pgm["named_pass1"] = (
    pgm["clearance"] + pgm["cross"] + pgm["assist"] + pgm["keypass"]
)
pgm["named_pass2"] = pgm[["clearance", "cross", "assist", "keypass"]].sum(
    axis=1
)


(pgm["named_pass1"] == pgm["named_pass2"]).all()

# 3.2.3
# a
pgm[["shot", "assist", "pass"]].mean()
# b
goal_assists_1 = ((pgm["goal"] >= 1) & (pgm["assist"] >= 1)).sum()
# c
pct_perf = goal_assists_1 / pgm.shape[0]  # 0.6%

# d
pgm["own_goal"].sum()

# e
pgm["pos"].value_counts()  # most == MID; least == GK

pos
MID    637
DEF    532
FWD    384
GKP    118
Name: count, dtype: int64

In [16]:
# 3.3.1
dfp = pd.read_csv("../data/players.csv")

# 3.3.2
# dfp.team.sample()
dfp_bra1 = dfp.loc[
    dfp["team"] == "Brazil", ["player_name", "pos", "foot", "weight", "height"]
]

# 3.3.3
dfp_no_bra = dfp.loc[
    dfp["team"] != "Brazil",
    ["team", "player_name", "pos", "foot", "weight", "height"],
]
dfp_no_bra.sample(5)

# 3.3.4
dfp["birthday"] = dfp["birth_date"].astype(str).str[-4:]
print("duplicate birthdays \n", dfp["birthday"].duplicated().any())

dfp_dups = dfp.loc[dfp["birthday"].duplicated(keep=False)]

dfp_nodups = dfp.loc[~dfp["birthday"].duplicated(keep=False)]

# 3.3.5
dfp["height_description"] = np.nan
dfp.loc[dfp["height_description"] > 195, "height_description"] = "tall"
dfp.loc[dfp["height_description"]< 175, "height_description"] = "short"

# 3.3.6
dfp_no_desc = dfp.loc[dfp["height_description"].isnull()]
print("no description \n", dfp_no_desc.shape[0])
dfp_no_desc.sample(5)

duplicate birthdays
 True
no description
 735

,player_id,player_name,pos,foot,birth_date,born,weight,height,passport,team_id,team,birthday,height_description
409,120717,O. Haddadi,DEF,left,19920128,788,79,184,788,16276,Tunisia,0128,NaN
160,7849,W. Szczęsny,GKP,right,19900418,616,84,196,616,13869,Poland,0418,NaN
621,20593,R. Pereyra,MID,right,19910107,32,77,182,32,12274,Argentina,0107,NaN
106,70083,Danilo,DEF,right,19910715,76,78,184,76,6380,Brazil,0715,NaN
293,15125,M. Plattenhardt,DEF,left,19920126,276,76,181,276,3148,Germany,0126,NaN

In [21]:
# 3.4.2
dfpm = pd.read_csv("../data/player_match.csv")
dfpm_avg = dfpm[["name", "shot", "goal", "match_id"]]
dfpm_avg["concat_pm"] = dfpm_avg["name"] + dfpm_avg["match_id"].astype(str)
dfpm_avg["avg_shots"] = dfpm_avg["shot"].sum() / dfpm_avg["concat_pm"].count()
dfpm_avg["avg_goal"] = dfpm_avg["goal"].sum() / dfpm_avg["concat_pm"].count()
dfpm_avg
# 3.4.3

# 3.4.4

/var/folders/t5/kjkgbzx10lnfwwzmszvwswy80000gn/T/ipykernel_30712/1259804830.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfpm_avg["concat_pm"] = dfpm_avg["name"] + dfpm_avg["match_id"].astype(str)
/var/folders/t5/kjkgbzx10lnfwwzmszvwswy80000gn/T/ipykernel_30712/1259804830.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfpm_avg["avg_shots"] = dfpm_avg["shot"].sum() / dfpm_avg["concat_pm"].count()
/var/folders/t5/kjkgbzx10lnfwwzmszvwswy80000gn/T/ipykernel_30712/1259804830.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfpm_avg["avg_goal"] = dfpm_avg["goal"].sum() / dfpm_avg["concat_pm"].count()

,name,shot,goal,match_id,concat_pm,avg_shots,avg_goal
0,D. Cheryshev,3,2,2057954,D. Cheryshev2057954,0.817475,0.104728
1,Mário Fernandes,0,0,2057954,Mário Fernandes2057954,0.817475,0.104728
2,I. Akinfeev,0,0,2057954,I. Akinfeev2057954,0.817475,0.104728
3,S. Ignashevich,0,0,2057954,S. Ignashevich2057954,0.817475,0.104728
4,A. Dzagoev,0,0,2057954,A. Dzagoev2057954,0.817475,0.104728
...,...,...,...,...,...,...,...
1666,M. Pjaca,0,0,2058017,M. Pjaca2058017,0.817475,0.104728
1667,C. Tolisso,0,0,2058017,C. Tolisso2058017,0.817475,0.104728
1668,L. Hernández,0,0,2058017,L. Hernández2058017,0.817475,0.104728
1669,B. Pavard,0,0,2058017,B. Pavard2058017,0.817475,0.104728
1670,K. Mbappé,2,1,2058017,K. Mbappé2058017,0.817475,0.104728